@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ICT 345 <br />
    Mohammad Moshirpour<br />
    <abbr title="Email">E:</abbr>
    mmoshirp@ucalgary.ca
</address>

<address>
    ICT 359 <br />
    Joshua Walters<br />
    <abbr title="Email">E:</abbr>
    joshua.walters@ucalgary.ca
</address>