<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- This will be used to listen from the given host/port/path-->
  <configSections>
    <section name="GatewayConfig"
             type="NServiceBus.Config.GatewayConfig, NServiceBus.Core" />
  </configSections>
  <GatewayConfig>
    <Channels>
      <Channel Address="http://localhost:56042/Authentication"
               ChannelType="Http"
               Default="true"/>
    </Channels>
  </GatewayConfig>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>