<!--
    This is the index page for the chat controller.
    It is also the login page
-->

<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

@{
    ViewBag.Title = "Log In";
}

<h2>@ViewBag.Title</h2>
